
  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
  

}

.nav-item{
    font-family:poppins;
    font-size: 2rem; 
    font-weight: 700;

}

.nav-link{
    color: aliceblue!important;
    opacity: .8;
    
}
.nav-link:hover{
    background: black;
    color: aqua !important;
    border-radius: 8px;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
}
@media (max-width:768px){
    iframe{
        width: 300px;
        height: 260px;
    }
    .form-floating input{
        font-size: 1.4rem;

    }
    .form-floating label{
        font-size: 1.2rem;
    }
    #skills li button{
        font-size: 16px;
        padding: 10px 2px;
        font-family: sans-serif;
    }

}

 #icon{
    font-size: 2.4rem;
    color:green;
    margin-right: 20px;
    cursor: pointer;
    opacity: .95;
}
div a > p {
    font-size: 1.4rem;
    font-weight: 600;
}
.justify-content-center:hover{
    transform: scale(1.05);
    transition: .7s;
}

.color{
    background: rgb(65, 147, 243);
   
}

#pills-profile h2{
    color: rgb(65, 147, 243);
    font-weight: 500;
}
#pills-contact h2{
    color: rgb(65, 147, 243);
    font-weight: 500;
}

center img{
    border-radius: 20px;
    object-fit: fill;
    width: 320px;
    margin-bottom: 20px;
    height: 250px;
}
center img:hover{
    transform: scale(1.05);
    transition: .75s;
}
center   p{
    display: none;
}
center .col-md-4:hover p{
    display: block;
}

#skills button{
    font-size:large;
    text-align: center;
}
